.button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #c3bfbf;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #666;
}